<launch>
    <!-- 1. КАМЕРА REALSENSE (Только видео, без IMU) -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_gyro" value="false"/>
        <arg name="enable_accel" value="false"/>
        <arg name="align_depth" value="false"/> <!-- Для VIO обычно нужно чистое Mono/Stereo, а не RGBD -->
        
        <arg name="enable_sync" value="true"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <arg name="color_fps" value="30"/>
    </include>

    <!-- 2. IPHONE IMU -->
    <node pkg="imu_csv_publisher" type="imu_data_start.py" name="imu_publisher_node" output="screen">
        <param name="csv_path" value="$(find imu_csv_publisher)/ros_imu_data.csv"/>
        <!-- Публикуем сразу в нужный топик, чтобы не ремапить -->
        <remap from="/imu" to="/imu0"/>
    </node>

    <!-- 3. OPENVINS -->
    <node name="ov_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen">
        <!-- Используем конфиг EuroC -->
        <param name="config_path" value="$(find ov_msckf)/../config/euroc_mav/estimator_config.yaml"/>
        
        <!-- ПЕРЕ-ПРИВЯЗКА ТОПИКОВ (REMAP) -->
        <!-- Камера: VIO ждет /cam0/image_raw, а RealSense дает /camera/color/image_raw -->
        <remap from="/cam0/image_raw" to="/camera/color/image_raw"/>
        
        <!-- IMU: VIO ждет /imu0, мы уже переименовали его в пункте 2 -->
    </node>

    <!-- 4. RVIZ -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display.rviz" />
</launch>
