<launch>
    <!-- 1. КАМЕРА -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_gyro" value="false"/>
        <arg name="enable_accel" value="false"/>
        <arg name="align_depth" value="false"/> 
        <arg name="initial_reset" value="true"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <arg name="color_fps" value="30"/>
        <arg name="enable_depth" value="false"/> 
    </include>

    <!-- 2. МОСТ IMU -->
    <node pkg="MonoDepth-VIO" type="gyrosc_bridge.py" name="iphone_imu_bridge" output="screen" />

    <!-- 3. OPENVINS -->
    <node name="ov_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen">
        <!-- Передаем путь к файлу как параметр ROS (это штатный метод для run_subscribe_msckf) -->
        <param name="config_path" value="/catkin_ws/config.yaml"/>
        
        <!-- REMAP -->
        <remap from="/cam0/image_raw" to="/camera/color/image_raw"/>
        <remap from="/imu0" to="/iphone/imu"/>
    </node>

    <!-- 4. RVIZ -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display.rviz" />
</launch>

