%YAML:1.0
---
# TOPICS
topic_imu: "/imu"
topic_camera: "/camera/color/image_raw"

# FLAGS
use_stereo: 0
enable_graph: 1

# IMU PARAMETERS
sigma_a_c: 2.0000e-03
sigma_g_c: 1.6968e-04
sigma_aw_c: 3.0000e-03
sigma_gw_c: 1.9393e-05
g: 9.81007

# CAMERA PARAMETERS
cam_overlays: 1
camera_model: "pinhole"
intrinsics: !!opencv-matrix
   rows: 1
   cols: 4
   dt: d
   data: [386.0, 386.0, 320.0, 240.0]
distortion_model: "radtan"
distortion_coeffs: !!opencv-matrix
   rows: 1
   cols: 4
   dt: d
   data: [0.0, 0.0, 0.0, 0.0]
resolution: !!opencv-matrix
   rows: 1
   cols: 2
   dt: i
   data: [640, 480]
T_C_I: !!opencv-matrix
   rows: 4
   cols: 4
   dt: d
   data: [1, 0, 0, 0,
          0, 1, 0, 0,
          0, 0, 1, 0,
          0, 0, 0, 1]

